
/* Text align */
.txt-c { text-align: center }
.txt-l { text-align: left; }
.txt-c .txt-l { display:inline-flex; }

/* Overflow */
.ovr-x  { overflow-x:auto;  }
.no-ovr { overflow: hidden; }
.no-wrp { white-space: normal !important; }
.flx-wrp { flex-wrap: wrap; }

/* Text color */
.c-red { color: firebrick; }
.glow { text-shadow: 0px 0px 6px,
	0px 0px 6px,
	0px 0px 6px,
	0px 0px 6px }

/* Layout */
.hor-ord { display: flex; }
.hor-ord-space { justify-content: space-between; }
.jus-c   { justify-content: center; }
.algn-c  { align-items:center; }
.algn-e { align-items: flex-end; }
.grd-2   { 
	display: grid; 
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 8em;
}

/* Other */
.pxl { image-rendering: pixelated;max-width: 100vw; width: auto !important;}
.img-sml { width: 4em; } 
.pntr { cursor: pointer; }
.page { padding: 0 4em; }
.sidebar { background-color: var(--light-surface) }
.tbl-showcase img { 
	max-width: 12vw;
}

.tbl-showcase td { 
	text-align: center;
	padding: 0;
	margin-left: 1em;
}

.tbl-showcase tr:first-child td {
	border-left: 1px solid var(--dark-border);
	border-top: 1px solid var(--dark-border);
}

.tbl-showcase tr:not(:first-child) td {
	padding: 0.5vw;
	border-left: 1px solid var(--dark-border);
	border-bottom: 1px solid var(--dark-border);
}

.tbl-showcase {
	border-spacing: 1.1em 0em;
	border-collapse: separate;
	border: 0;
}

/* Tierlist */
.tierlist , .tierlist td {
	border: none;
	background: var(--dark-bg);
	color: var(--dark-fg);
}

.tierlist td:first-child {
	color: var(--dark-bg);
	border-right: 1px solid var(--dark-border);
}

.tierlist tr {
	border: 1px solid var(--dark-border);
}

.tierlist tr:nth-child(1) td:first-child {
	background: rgb(255, 127, 127);
}
.tierlist tr:nth-child(2) td:first-child {
	background: rgb(255, 191, 127);
}
.tierlist tr:nth-child(3) td:first-child {
	background: rgb(255, 223, 127);
}
.tierlist tr:nth-child(4) td:first-child {
	background: rgb(255, 255, 127);
}
.tierlist tr:nth-child(5) td:first-child {
	background: rgb(191, 255, 127);
}
