
/*-- Showcase Row Module --*/
.showcase {
    overflow-x: hidden;
}
.showcase:hover {
    overflow-x: auto;
}
.showcase::-webkit-scrollbar {
    width: 0.8em;
}
.showcase::-webkit-scrollbar-track {
    border: 1px solid;
}
.showcase::-webkit-scrollbar-thumb {
    background: var(--black);
}
.showcase img {
    border: 1px solid;
}

/*-- Tierlist Table Module --*/
.tierlist tr:not(:last-child) {
    border-bottom: 1px solid var(--black);
}
.tierlist td:first-child {
    border-right: 1px solid var(--black);
}
.tierlist *,
.tierlist {
    border: none;
}

.tierlist tr:nth-child(1) td:first-child {
    background: rgb(255, 127, 127);
}
.tierlist tr:nth-child(2) td:first-child {
    background: rgb(255, 191, 127);
}
.tierlist tr:nth-child(3) td:first-child {
    background: rgb(255, 223, 127);
}
.tierlist tr:nth-child(4) td:first-child {
    background: rgb(255, 255, 127);
}
.tierlist tr:nth-child(5) td:first-child {
    background: rgb(191, 255, 127);
}
