
/* Dark Mode */
@media (prefers-color-scheme: dark) {
	body {
		background: var(--dark-bg);
		color: var(--dark-fg);
	}
	pre.code { 
		/* border: 1px solid var(--dark-border); */
	}
	a { 
		color: lightblue;
	}
}

/* Responsive */
@media only screen and (max-device-width: 480px) {
	body, aside {
		flex-direction: column;
	}
	aside * { 
		margin-left: 0 !important;
	}
	article { 
		padding: 1em 2em;
	}
	img { 
		max-width: 50vw;
	}
	.tbl-showcase img {
		max-width:50vw;
	}
	h1 {
		font-size: 9vw;
	}
	article > h1:first-child img, .header img  {
		max-width: 45vw;
	}
	/* li { */
	/* 	display: inline-block; */
	/* } */
	nav {
		border-right: none;
		border-bottom: 1px solid var(--dark-border);
		min-height: auto;
	}
	pre, pre.code {
		width: auto;
	}
	pre.code[data-language]::before {
		position: unset;
		display: block;
		margin-bottom: 0.5em;	
	}
	.grd-2 {
		grid-template-columns: 1fr;
	}
	.hide-m { 
		display: none;
	}
	.pxl {
		max-width: none;
	}
	article > h1:first-child::before, .header h1::before {
		content: var(--date-modified);
	}
	article > h1:first-child::after, .header h1::after, article > h1:first-child, .header h1 {
		text-align: center;
	}
	pre, pre.code { padding-right: 1em; }
}
