/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Colors */
:root {
	--dark-bg: #111;
	--dark-border: #444;
	--dark-fg: #fafafa;
	--light-bg: ghostwhite;
}

*, *::before, *::after {
	box-sizing: border-box;
}

/* Primary Page Styles */
html, body {
	width: 100vw;
	height: 100vh;
}
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Ubuntu', sans-serif;
	background: var(--light-bg);
	tab-size: 4;
	font-size: 1em;
}

article {
	padding: 1em 4em;
	flex: 1;
	white-space: pre-line;
}

/* Sidebar */
nav {
	border-right: 1px solid var(--dark-border);
	padding: 0 1em;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav ul li { 
	margin: 8px;
	text-align : center;
	vertical-align: middle;
	white-space: normal;
}

/* Tables */

table { 
	border-collapse: collapse;
	table-layout:fixed;
	border: 1px solid;
}

table * {
	text-align: center;
}

td:first-child { 
	text-align: left;
}

th,td { 
	padding: 8px;
}

td,th {
	border-right: 1px solid;
}

thead tr { 
	border-bottom: 1px solid;
}



/* Content */

li {
	white-space: pre-wrap;
}

a { 
	color: darkblue; 
	text-decoration: none;
	
	/* Wrap links correctly */
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}

footer {
	font-style: italic;
	margin-top: 4em;
}

summary * {
	display:inline;
}

img {
	max-width: 20vw;
	height: auto;
	border: 1px solid var(--dark-border);
}

aside {
	display: flex;
}
aside *:nth-child(2) {
	margin-left: auto;
}


pre.code { 
	background: var(--dark-bg); 
	color: var(--dark-fg);
	padding: 1em 0;
	border-radius: 5px;
	font-size: 1.1em;
}

figure {
	margin: 0;
}

h1,h2,h3,h4,h5,h6 { 
	margin-bottom: 0;
}

section { 
	margin-top: 3em;
}

/* Tiny helper classes */
.txt-c { text-align: center }
.txt-l { text-align: left; }
.no-ovr { overflow: hidden; }
.c-red { color: firebrick; }
.txt-c .txt-l { display:inline-flex; }
.vrt-ord {display: flex;}
.pxl { image-rendering: pixelated;max-width: 100vw; }
.grd-2 { display: grid; grid-template-columns: 1fr 1fr; }
.no-wrp { white-space: normal !important; }

/* Tierlist */
.tierlist table, .tierlist td {
	border: none;
	background: var(--dark-bg);
	color: var(--dark-fg);
}

.tierlist td:first-child {
	color: var(--dark-bg);
	border-right: 1px solid var(--dark-border);
}

.tierlist tr {
	border: 1px solid var(--dark-border);
}

.tierlist tr:nth-child(1) td:first-child {
	background: rgb(255, 127, 127);
}
.tierlist tr:nth-child(2) td:first-child {
	background: rgb(255, 191, 127);
}
.tierlist tr:nth-child(3) td:first-child {
	background: rgb(255, 223, 127);
}
.tierlist tr:nth-child(4) td:first-child {
	background: rgb(255, 255, 127);
}
.tierlist tr:nth-child(5) td:first-child {
	background: rgb(191, 255, 127);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	body {
		background: var(--dark-bg);
		color: var(--dark-fg);
	}
	a { color: lightblue; }
}

/* Responsive */
@media only screen and (max-device-width: 480px) {
	body,aside {
		flex-direction: column;
	}
	aside * { margin-left: 0 !important; }
	article { padding: 1em 2em; }
	img { max-width: 50vw; }
	li {
		display: inline-block;
	}
	nav {
		border-right: none;
		border-bottom: 1px solid;
		min-height: auto;
	}
	pre {
		overflow-x: auto;
	}
	.grd-2 {
		grid-template-columns: 1fr;
	}
	.hide-m { display: none; }
}
