body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: monospace;
	width: 100%;
}

*, a { font-size: 1.045em !important; }

article {
	padding: 1em 4em;
	flex: 1;
	white-space: pre-line;
}

nav {
	border-right: 1px solid;
	min-width: 10%;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a { color: lightblue; text-decoration: none; }
nav ul li { 
	margin: 8px;
	text-align : center;
	vertical-align: middle;
}

footer {
	font-style: italic;
}

summary * {
	display:inline;
}

.txt-c { text-align: center }
.txt-l { text-align: left; }
.c-red { color: firebrick; }
.txt-c .txt-l { display:inline-flex; }
.vrt-ord { 
	display: flex;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
	body {
		background: #111;
		color: #d3d3d3;
	}
}

/* Responsive */
@media only screen and (max-device-width: 480px) {
	body {
		flex-direction: column;
	}
	li {
		display: inline-block;
	}
	nav {
		border-right: none;
		border-bottom: 1px solid;
	}
}
